streamlit==1.52.2
langchain==1.2.0
langchain-community==0.4.1
langchain-core==1.2.5
langchain-openai==1.1.6
requests==2.32.5
python-docx==1.2.0
python-dotenv==1.2.1
beautifulsoup4==4.14.3
pandas==2.3.3
pyyaml==6.0.3
google_search_results==2.4.2
rank_bm25==0.2.2
faiss-cpu==1.7.4
